*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/xmsadapter/build/
/xmsadapter/build/intermediates/javac/debug/classes/
/xmsadapter/xmsaux/build/
/xmsadapter/xmsaux/build/intermediates/javac/debug/classes/
/xmsadapter/xmsaux/xapi/build/
/xmsadapter/xmsaux/xapi/build/intermediates/javac/debug/classes/
/xmsadapter/xmsaux/xg/build/
/xmsadapter/xmsaux/xg/build/intermediates/javac/debug/classes/
/xmsadapter/xmsaux/xh/build/
/xmsadapter/xmsaux/xh/build/intermediates/javac/debug/classes/